.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

header {
  margin: 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing : 2px ;
  font-size: 28px;
}

header input{
  position : relative ;
  z-index : 0 ;
  width : 12rem ;
  text-align: center;
  height: 2rem;
  text-decoration : none ;
  font-size : 14px ; 
  font-weight : bold ;
  letter-spacing : 2px ;
  top: -13px
}


.monsters-div{
  display: flex;
  justify-items: center;
  align-items: baseline;
  width: 100%;
  font-style: italic;
  flex-direction: column;
  margin: 0 auto;
  width: 30rem;
}