.App {
  text-align: center;
}

header {
  margin: 0 auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

header div {
  display: flex;
  gap: 1rem;
}

header input, button {
  position : relative ;
  z-index : 0 ;
  width : 12rem ;
  text-align: center;
  height: 2rem;
  text-decoration : none ;
  font-size : 14px ; 
  font-weight : bold ;
  letter-spacing : 2px ;
  transition: 0.5s ease;
}
header button {
  width : 5rem ;
}

button:hover{
  background: #777;
  cursor: pointer;
}

